.logos{
background-color:  #000080;
}
.logos h1{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.container seted{
     background-color:  #000080;   
}
.wrapper{
    height: 775px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.wrapper input:focus{
    box-shadow: none;
}
.wrapper img{
    max-width: 8%;
}